body{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}

input{
  padding:0.3em;
  padding-right: 20px;
  margin-right: 10px;
  border-radius: 1em;
  outline:none;
  border:1px solid black;
  
}

.inp{
  margin-left: 20px;
}

.add{
  border-radius: 10px;
  margin-right: 10px;
  margin-top: -5px;
}

input:hover {
  border-bottom: 4px solid rgb(49,108,244);
}
input::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 5px;
  left: 50%;
  bottom:0;
  background-color: white;
  transition: all ease-in-out .2s;
}
input:hover::after{
  width: 100%;
  left: 0;
}

.add{
  margin-left: 10px;
  border-radius: 2rem;
}